doctype html
//[if IE 9]><html class="lt-ie10" lang="en" > <![endif]
html(class='no-js', lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Animal Shelter
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/css/app.css')
    script(src='/js/vendor/modernizr.js')
  body
    #wrapper
      .row
        .small-12.columns
          h1 Animal Shelter
      form
        fieldset
          legend Information
          .row
            .small-4.columns
              label Species
              input#species(type='text', placeholder='species', autofocus='true')
            .small-4.columns
              label Name
              input#name(type='text', placeholder='name')
            .small-4.columns
              label Gender
              input#gender(type='text', placeholder='Gender')
          .row
            .small-4.columns
              label Age
              input#age(type='text', placeholder='age')
            .small-4.columns
              label Color
              input#color(type='text', placeholder='color')
            .small-4.columns
              label ID
              input#textID(type='text', placeholder='ID')
          .row
            .small-6.columns
              label Photo URL
              input#photo(type='text', placeholder='photoURL')
            .small-6.columns
              button.tiny#addPhoto Add Photo
          .row
            .small-6.columns
              label Description
              textarea#description(placeholder='description')
            .small-6.columns
              button#addAnimal Add Animal
          .row
            .small-12.columns
              #container
      .row
        .small-12.columns
          table#database
            thead
              tr
                th Species
                th Name
                th Gender
                th Age
                th Color
                th Description
                th#photoTH Photos
            tbody

      script(src='/js/vendor/jquery.js')
      script(src='/js/vendor/foundation.js')
      script(src='/js/vendor/lodash.js')
      script(src='/js/source/animal.js')
      script(src='/js/source/animalFactory.js')
      script(src='/js/source/main.js')
      script.
        $(document).foundation()

