doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Jade Tutorial
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/vendor/jquery-1.10.2.js')
    script(src='/js/source/main.js')
  body
    header
      h1 Welcome to Jade!
      img(src='http://epilepsyu.com/wp-content/uploads/2013/03/dog-open-mouth.jpg')
      #section
        h2 Section 1
          if youAreUsingJade
            p You are amazing
          else
            p Get on it!
          ul
            li a
            li b
            li c
          - var firstName = 'matt';
          h2=firstName
          - for(var i=0; i<100; i++)
            h3=i
            h2 world
        p This is paragraph 1
        //- This is how you write comments
        p
          | This is paragraph 2
          br
          | Addendum to <strong>paragraph</strong> 2 
          span Span 1
        footer.foot1.foot2#footerID
