doctype html
//[if IE 9]><html class="lt-ie10" lang="en" > <![endif]
html(class='no-js', lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title To-Do List
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/css/app.css')
    script(src='/js/vendor/modernizr.js')
  body
    .row
      .small-12.columns
          h1 To-Do List
    .row
      .small-3.columns
        #topLeft
          h1.redd New Priority
          form#priForm
            label Name
            input#nameText(type='text' name='name' placeholder='Name' autofocus)
            label Value
            input#valueText(type='text' name='value' placeholder='Value' autofocus)
            button#priButton Create
      .small-9.columns
        #top
          h1.redd New Task
          form#taskForm
            label Name
            input#nameTextTask(type='text' name='name' placeholder='Name' autofocus)
            label Value
            input#TextTask(type='text' name='value' placeholder='Value' autofocus)
            button#taskButton Create
        #topRight
          h1.redd Priorities
          table#priTable
            thead
              th Name
              th Value
              th Delete
              th Save

    script(src='/js/vendor/jquery.js')
    script(src='/js/vendor/foundation.js')
    script(src='/js/vendor/lodash.js')
    script(src='/js/source/main.js')

